#map { 
	/*height: 1080px;
	width: 1920px; */
}

#container {
	height: 535px;
	width: 1250px;
  	position: relative;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
}

#clearBtn {
	position: absolute;
    top:10px;
    left: 50px;
}

#originalBtn {
	position: absolute;
    top:30px;
    left: 50px;
}

#dockingBtn {
	position: absolute;
    top:50px;
    left: 50px;
}

#title_container {
    z-index: 10000;
    position: absolute;
    left: 100px;
}    

#timeline { 
    height: 100px; 
    position: absolute;
    left: 120px;
    right: 0;
    bottom: 0;
}

body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

h1 {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.1;
}

.datetimeControl p {
    margin: 0;
    font-size: 16px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    margin: 0em;
    font: normal normal normal normal 11px/normal 'Lucida Grande';
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    align-items: flex-start;
    cursor: default;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
}